<section id="hero">
  <div class="container" style="top:145px">
    <div class="box-search-job box">
      <form method="get" id="frm-search-job" #fSearch="ngForm" ngForm="SearchForm()">
        <div class="row">
          <div class="col-xs-12">
            <h1>Tìm kiếm  ngôi trường mơ ước của bạn cùng UniStart</h1>
          </div>
          <div class="search-page" style="padding-bottom: 30px">
              <select2 class="form-group" [data]="listMajor| async" (valueChanged)="changedMajor($event)"
                       [options]="optionMajor" style="padding: 15px"></select2>
              <select2 class="form-group" [data]="listLocation| async" (valueChanged)="changedLocation($event)"
                       [options]="optionLocation" style="padding: 15px"></select2>
              <select2 class="form-group" [data]="listUniName| async" (valueChanged)="changedUniversity($event)"
                       [options]="optionUni" style="padding: 15px"></select2>
          </div>
        </div>
        <div class="text-center">
          <div class="row">
            <div class="col-xs-12">
              <button class="btn" type="submit" (click)="searchUniversity()"><i class="fa fa-search" aria-hidden="true"></i>Tìm Ngay</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!--Show search-->
<div *ngIf="show" id="main">
  <div class="container" style="margin-top: -65px;">
    <div class="row text-center" id="showsearch">
      <div class="col-lg-4 col-sm-6 portfolio-item hero-feature"
           *ngFor="let university of listSearch | paginate: { itemsPerPage:6, currentPage: p }">
        <div class="thumbnail">
          <div style="padding: 20px" *ngIf="university && university.logo">
            <a [routerLink]="['/university',university.id]">
              <img src="{{university.logo}}" alt="">
            </a>
          </div>
          <div style="padding: 20px" *ngIf="!university.logo">
            <a [routerLink]="['/university',university.id]">
              <img src="../../../assets/image/image-not-found.png">
            </a>
          </div>
          <div class="caption">
            <div style="min-height: 55px; border: 1px solid white"><p class=""><b>{{university.name}}</b></p></div>
            <div style="min-height: 35px; border: 1px solid white"><p>{{university.phone}}</p></div>
            <div>
              <p>
                <button [routerLink]="['/university',university.id]" class="btn btn-success"><i
                  class="fa fa-hand-o-right"></i> Thông Tin
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center"><pagination-controls (pageChange)="p =$event"></pagination-controls></div>
  </div>
</div>
<!-- End show search-->

<!--News university-->

<div class="row" id="news-uni">
  <div class="col-lg-12">
    <!--<h1 style="text-align: center; color: #0BA25E; font-family: 'Showcard Gothic'">CÔNG CỤ</h1>-->
    <h1>MỘT SỐ TRƯỜNG</h1>
  </div>
  <div class="row text-center">
    <div class="col-lg-4 col-sm-6 text-center"
         *ngFor="let university of topUniversity">
      <img class="rounded-circle img-fluid d-block mx-auto" *ngIf="!university.logo" style="margin-bottom: 35px"
           src="../../../assets/image/image-not-found.png" alt="">
      <img class="rounded-circle img-fluid d-block mx-auto" *ngIf="university.logo" style="margin-bottom: 35px"
           src="{{university.logo}}" alt="">
      <p><b>{{university.name}}</b><br></p>
      <p>{{university.description}}
        Decripstion:Feeling stuck? Need something more? You can hire a designer to help you with your project or to create a custom build of any theme
      </p>
    </div>
  </div>
</div>
<!--End news university-->




