.row {
  margin-left: 215px;
  margin-right: 115px;
}
.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//................
.ng2complete{
  margin: 20px;
  font-family: "fantasy";
  font-size: 23px;
  height: 400px;
  line-height: 2;
}

