<section id="hero">
  <div class="container" style="top:145px">
    <div class="box-search-job box">
      <form method="get" id="frm-search-job">
        <div class="row">
          <div class="col-xs-12">
            <h1>Tìm kiếm  ngôi trường mơ ước của bạn cùng UniStart</h1>
          </div>
          <div class="" style="padding-bottom: 30px">
              <select2 [data]="listMajor| async" [options]="optionMajor" style="padding: 15px"></select2>
              <select2 [data]="listLocation| async" [options]="optionLocation" style="padding: 15px"></select2>
              <select2 [data]="listUniName| async" [options]="optionUni" style="padding: 15px"></select2>
          </div>
        </div>
        <div class="text-center">
          <div class="row">
            <div class="col-xs-12">
              <button class="btn" type="submit" (click)="showUniversity(true)"><i class="fa fa-search" aria-hidden="true"></i> Tìm Ngay</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!--Show search-->
<div *ngIf="show">
  <div class="container">
    <div class="row text-center" id="showsearch">
      <div class="col-md-6 col-sm-6 hero-feature"
           *ngFor="let university of allUniversity | paginate: { itemsPerPage:4, currentPage: p }">
        <div class="thumbnail">
          <a routerLink="/university">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnbsCdgHxRD6an4ZRvUXHcrhJXlsOo3fNhTiMaZIoEe1nA0fLSng" alt="">
          </a>
          <div class="caption">
            <p>{{university.name}}</p>
            <p>{{university.location}}</p>
            <p>
              <a href="#" class="btn btn-success"><i class="fa fa-heart-o" aria-hidden="true"></i> Quan Tâm</a>
              <button data-toggle="modal" data-target="#modalDetail" class="btn btn-success"><i class="fa fa-hand-o-right"></i> Thông Tin</button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center"><pagination-controls (pageChange)="p =$event"></pagination-controls></div>
  </div>
</div>
<!-- End show search-->

<div class="row" id="newsuni">
  <div class="col-lg-12">
    <!--<h1 style="text-align: center; color: #0BA25E; font-family: 'Showcard Gothic'">CÔNG CỤ</h1>-->
    <h1>MỘT SỐ TRƯỜNG</h1>
  </div>
  <div class="row text-center">
    <div class="col-lg-4 col-sm-6 text-center mb-4"
         *ngFor="let university of allUniversity">
      <img class="rounded-circle img-fluid d-block mx-auto"
           src="http://images.cdn3.stockunlimited.net/clipart/atom-logo-element_1627953.jpg" alt="">
      <p>{{university.name}}<br>
        <small>{{university.priority}}</small>
      </p>
      <p>{{university.createdAt}}</p>
    </div>
  </div>
</div>
<!--End news university-->


<!--Modal-->
<div id="modalDetail" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>×</span></button>
        <br>
        <h3 style="display: inline-block;" data-role="university-name">Trường Đại học Ngoại thương - Cơ sở phía Nam</h3>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div>
            <span class="title">Mã trường: </span><span data-role="university-code">NTS</span>
          </div>
          <div>
            <span class="title">Ngành: </span><span data-role="major-name">Tài chính – Ngân hàng</span><br>
          </div>
          <div style="padding-top: 20px;">
            <span style="font-size: 14px; font-weight: 600;">Thông tin năm 2016:</span>
          </div>
          <table class="table" style="margin-left: 20px;">
            <thead>
            <tr>
              <td>Khối ngành</td>
              <td>Điểm chuẩn</td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>A</td>
              <td>10</td>
            </tr>
            </tbody>
          </table>
          <div style="padding-top: 20px;">
            <span style="font-size: 14px; font-weight: 600;">Thông tin năm 2016:</span>
          </div>
          <table class="table" style="margin-left: 20px;">
            <thead>
            <tr>
              <td>Khối ngành</td>
              <td>Điểm chuẩn</td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>A</td>
              <td>10</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

