<div style="width: 100%" *ngFor="let itemMU of majorUniversities">
  <div class="major-group row">
    <div class="col-md-5 major-title">{{itemMU.major.majorName}}</div>
    <div class="col-md-5" [attr.id]="'major' + itemMU.id">
      <div class="col-md-6">
        <select2 [data]="listBlock"
                 [options]="options"
                 [value]=""
                 [width]="100"
                 (valueChanged)="getValueMajor($event,itemMU.id)"></select2>
      </div>
    </div>
  </div>
  <div style="padding-bottom: 20px;"  class="row" *ngFor="let item of currentMajor[itemMU.id]">
    <form #scoreForm="ngForm" (ngSubmit)="onSaveScore(scoreForm,itemMU.id,item.blockName)">
      <div class="col-md-1" style="padding: 30px 4px 4px 40px;font-size: 17px;">{{item.blockName}}</div>
        <div *ngFor="let scoreItem of item.scoreHistories[0]">
          <div class="col-md-2">
            <label>{{scoreItem.year}}</label>
            <input class="form-control"  [(ngModel)]="scoreItem.score" [name]="'A' + scoreItem.year"/>
          </div>
        </div>
      <div style="padding-top: 24px;">
        <button type="submit" [disabled]="!scoreForm.dirty" class="btn btn-primary" >Lưu</button>
      </div>
    </form>
  </div>
  <div style="padding-bottom: 20px;"  class="row" *ngFor="let item of listMajorBlock[itemMU.id]">
    <form #scoreForm="ngForm" (ngSubmit)="onSaveScore(scoreForm,itemMU.id,item)">
      <div class="col-md-1" style="padding: 30px 4px 4px 40px;;font-size: 17px;">{{item}}</div>
      <div class="col-md-2">
        <label>2016</label>
        <input class="form-control" ngModel name="A2016"/>
      </div>
      <div class="col-md-2">
        <label>2017</label>
        <input class="form-control" ngModel name="A2017"/>
      </div>
      <div style="padding-top: 24px;">
        <button type="submit" [disabled]="!scoreForm.dirty" class="btn btn-primary" >Lưu</button>
      </div>
    </form>
  </div>
</div>
