

<header class="header-image">
  <div class="headline">
    <div class="container">
      <h1>Trang Tin Tức</h1>
    </div>
  </div>
</header>

<div class="container">

  <div class="featurette"
       *ngFor="let article of listArticle | paginate: { itemsPerPage:5, currentPage: p }; let odd = odd; let even = even; let fst = first"
       [ngClass]="{'right-text': odd}">
    <hr class="featurette-divider">
    <div *ngIf="article.image">
      <img [routerLink]="['/article-detail',article.id]" class="featurette-image img-circle img-responsive pull-right"
           [ngClass]="{'pull-left': even}" src="{{article.image}}">
    </div>
    <div *ngIf="!article.image">
      <img [routerLink]="['/article-detail',article.id]" class="featurette-image img-circle img-responsive pull-right"
           [ngClass]="{'pull-left': even}" src="../../../assets/image/image-not-found.png">
    </div>
    <h2 [routerLink]="['/article-detail',article.id]" class="featurette-heading">{{article.title}}</h2>
    <h5>{{article.createDate | date: 'shortDate'}}</h5>

    <p class="lead">{{article.description}}</p>
  </div>
  <div class="text-center"><pagination-controls (pageChange)="p =$event" previousLabel=""
                                                nextLabel=""></pagination-controls></div>

  <!-- First Featurette -->
  <!--<div class="featurette" id="about" style="margin-top: 70px">-->
    <!--<img class="featurette-image img-circle img-responsive pull-right" src="https://unsplash.it/500/500?image=836">-->
    <!--<h2 class="featurette-heading">This First Heading-->
      <!--<span class="text-muted">Will Catch Your Eye</span>-->
    <!--</h2>-->
    <!--<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->
  <!--</div>-->

  <!--<hr class="featurette-divider">-->

  <!--&lt;!&ndash; Second Featurette &ndash;&gt;-->
  <!--<div class="featurette" id="services">-->
    <!--<img class="featurette-image img-circle img-responsive pull-left" src="https://unsplash.it/500/500?image=452">-->
    <!--<h2 class="featurette-heading">The Second Heading-->
      <!--<span class="text-muted">Is Pretty Cool Too.</span>-->
    <!--</h2>-->
    <!--<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->
  <!--</div>-->

  <!--<hr class="featurette-divider">-->

  <!--&lt;!&ndash; Third Featurette &ndash;&gt;-->
  <!--<div class="featurette" id="contact">-->
    <!--<img class="featurette-image img-circle img-responsive pull-right" src="https://unsplash.it/500/500?image=453">-->
    <!--<h2 class="featurette-heading">The Third Heading-->
      <!--<span class="text-muted">Will Seal the Deal.</span>-->
    <!--</h2>-->
    <!--<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->
  <!--</div>-->


</div>
