<div class="row" style="margin-bottom: 30px;">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <select2 [data]="listUniNameSelect2| async"
             (valueChanged)="getValue($event)"
             [options]="options"
             width="100%">
      <option></option>
    </select2>
  </div>
  <div class="col-md-2"></div>
</div>
<div>
  <table class="table" id="myTable">
    <thead>
    <tr>
      <th style="width: 1%">STT</th>
      <th style="width: 20%">Tên</th>
      <th style="width: 20%"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listUniName | paginate: { itemsPerPage:10, currentPage: p }; let i = index">
      <td>{{i}}</td>
      <td>
        <a>{{item.name}}</a>
      </td>
      <td>
        <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
        <a [routerLink]="['/admin/edit-university',item.id]" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
        <a class="btn btn-danger btn-xs" (click)="deleteUniversity(item.id)"><i class="fa fa-trash-o"></i> Delete </a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-center"><pagination-controls (pageChange)="p =$event"></pagination-controls></div>
</div>

