<div id="main" style="margin-top: 0px;">
  <div class="container" id="company-detail">
    <div class="company-cover">
      <div style="position: relative; border-radius: 15px">
        <img src="https://www.topcv.vn/images/default_cover/topcv_cover_vp1.png" class="img-responsive">
      </div>
    </div>
    <div class="box box-white" id="company-title">
      <div class="company-avatar">
        <span class="company-logo-helper"></span><a title="Global CyberSoft"><img class="company-logo"
                                                                                           src="https://static.topcv.vn/company_logos/global-cybersoft-57982df965c6b.jpg"
                                                                                           alt="Global CyberSoft"></a>
      </div>
      <div class="company-overview">
        <div class="row">
          <div class="col-xs-9">
            <p class="company-name text-highlight">Global CyberSoft</p>
            <div class="row">
              <div class="col-xs-6 detail-item"><i class="fa fa-phone detail-icon"></i>+84 8 5437 1199</div>
              <div class="col-xs-6 detail-item"><i class="fa fa-map-marker detail-icon"></i>1000+ nhân viên</div>
            </div>
          </div>
          <div class="col-xs-3 pull-right">
            <a>
              <button class="btn btn-default pull-right btn-follow">Theo dõi</button>
            </a>
            <a [routerLink]="['/new-review',id]">
              <button class="btn btn-uni-primary pull-right">Đánh giá</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="company-profile">
          <div class="box-group-header">
            <div class="row">
              <div class="box-group-title col-xs-8"><a>Giới thiệu công ty</a></div>
            </div>
          </div>
          <div class="box box-white" id="company-about">
            <div class="text-dark-gray">
              <p>Global CyberSoft (GCS) is a leading global IT solutions provider founded in California in July 2000,
                Global CyberSoft’s equity is currently provided by institutional investors such as Stone Apple. With
                extensive experiences and rich expertise, Global CyberSoft poses to be a major IT pioneer and trusted
                partner in Vietnam.
              </p>
              <p>
              </p>
              <p>As a testament to our continuous development, Global CyberSoft has expanded its business into new
                endeavors and spread its presence over the world, aiming to meet the diversified demands of our clients.
                The following are significant dates in GCS’ history.
              </p>
              <p>
              </p>
              <p>2008: Established Embedded System (EMB) division; celebrated the 500th employee.
              </p>
              <p>2007: Established Enterprise Business Solution (EBS) division; opened the third representative office
                in Paris (France); moved the Global Development Center to Quang Trung Software City (Vietnam).
              </p>
              <p>2006: Established Testing Services (TS) division.
              </p>
              <p>2004: Opened a second representative office in Singapore.
              </p>
              <p>2003: Opened the first representative office in Tokyo (Japan).
              </p>
              <p>2000: Established Information &amp; Communication Technology (ICT), and Factory Automation (FA)
                division.
              </p>
              <p>Global CyberSoft is committed to delivering the highest quality for our clients and improving our
                operations following international standards and best practices. As a result, the company has achieved
                valuable certificates and awards over the years including:
              </p>
              <p>
              </p>
              <p>ISO-9001
              </p>
              <p>ISO 27001
              </p>
              <p>CMMi level 5
              </p>
              <p>SAP’s Strategic Partner
              </p>
              <p>Sao Khue Award in 2012, 2013
              </p>
              <p>Vietnam Gold Medal &amp; Top 5 ICT Outsourcing company in 2010, 2011 and 2012
              </p>
              <p>Vietnam's 30 Leading IT Companies 2014
              </p>
              <p>Global CyberSoft now employs more than 700 highly skilled professional engineers, guided from top
                management, all dedicated to supplying total solutions and outsourcing services for valued local and
                global clients.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box-group-header">
          <div class="row">
            <div class="box-group-title col-xs-8">Đánh giá</div>
          </div>
        </div>
        <div class="box box-white" id="no-review-box">
          <div>
            <div class="mess text-dark-gray" style="margin-bottom:10px">Hiện chưa có đánh giá nào. Hãy là người đầu
              tiên đưa ra đánh giá
            </div>
            <input type="number" id="rate" name="rate_career_oppotunity" style="display: none;">
            <div class="rating-container">
              <div class="stars">
                <i rating-value="1" class="fa fa-star" style="font-size: 30px; background-color: rgb(204, 204, 204);"></i>
                <i rating-value="2" class="fa fa-star" style="font-size: 30px; background-color: rgb(204, 204, 204);"></i>
                <i rating-value="3" class="fa fa-star" style="font-size: 30px; background-color: rgb(204, 204, 204);"></i>
                <i rating-value="4" class="fa fa-star" style="font-size: 30px; background-color: rgb(204, 204, 204);"></i>
                <i rating-value="5" class="fa fa-star" style="font-size: 30px; background-color: rgb(204, 204, 204);"></i>
              </div>
              <span>Đánh giá của bạn về công ty này?</span></div>
          </div>
          <br>
          <div class="text-center"><a routerLink="/new-review">
            <button class="btn btn-uni-primary">Đánh giá ngay</button>
          </a></div>
        </div>
        <div class="box box-white" id="review-box">
          <div class="row">
            <div class="col-md-4" style="float: left">
              <div class="radial-progress" data-score="3">
                <div class="circle">
                  <div class="mask full">
                    <div class="fill"></div>
                  </div>
                  <div class="mask half">
                    <div class="fill"></div>
                    <div class="fill fix"></div>
                  </div>
                  <div class="shadow"></div>
                </div>
                <div class="inset">
                  <div class="percentage">
                    <div class=""><span>10%</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="review-overall-text text-dark-gray">Sẵn sàng giới thiệu cho bạn bè</div>
            </div>
          </div>
          <div class="row rating-overall">
            <div class="col-xs-9">
              <span class="text-dark-gray">Đánh giá chung</span>
              <div style="margin-top: 5px;">
                  <span class="star-bar">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <span style="width:100%" class="active-star">
                          <i class="fa fa-star active"></i>
                          <i class="fa fa-star active"></i>
                          <i class="fa fa-star active"></i>
                      </span>
                  </span>
              </div>
            </div>
            <div class="col-xs-3">
              <span class="overall-rate">5.0</span>
            </div>
          </div>
          <div class="pull-left"><a class="text-dark-gray" routerLink="/review-rating">Xem
            chi tiết&nbsp;&nbsp;<i class="fa fa-caret-right"></i></a></div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="company-fixed-box" class="col-xs-12" style="display:none">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <div class="fixed-box-logo pull-left">
            <img src="https://static.topcv.vn/company_logos/global-cybersoft-57982df965c6b.jpg" alt="">
          </div>
          <div id="fixed-box-name">Global CyberSoft</div>
        </div>
        <div class="col-md-3 col-md-offset-1 col-xs-12 text-center">
          <a href="https://www.topcv.vn/cong-ty/theo-doi/253">
            <button class="btn btn-default btn-follow">Theo dõi</button>
          </a>
        </div>
        <div style="clear:both"></div>
      </div>
    </div>
  </div>
</div>
