<div id="main">
  <div class="container" id="review-all">
    <div class="row">
      <div class="col-md-8">
        <div class="box box-white">
          <div class="row">
            <div class="col-xs-12 review-title text-dark-gray">
              "Môi trường làm việc đáng thử nhất Việt Nam"
            </div>
            <div class="col-md-6 col-xs-12">
              <label class="text-dark-gray">Đánh giá chung</label>
              <div class="rating-container">
                <div class="stars">
                  <i class="fa fa-star active"></i>
                  <i class="fa fa-star active"></i>
                  <i class="fa fa-star active"></i>
                </div>
                <span style="display:none" class="obj-data" obj-id="39" data="5"></span>
                <span id="39">Tuyệt vời!</span>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="row">
                <div class="review-recommend">
                  <p><i class="fa fa-thumbs-o-up" style="color:#f05f40; margin-right: 10px; font-size: 25px"></i><strong
                    class="text-dark-gray">Sẵn sàng giới thiệu cho bạn bè</strong></p>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="review-text">
                <blockquote>Văn phòng thiết kế đẹp, mở. Nhân viên được tự do bày tỏ ý kiến với leader. Teamwork tốt. Đc
                  tiếp xúc với nhiều người giỏi, thăng tiến rõ ràng.
                </blockquote>
              </div>
            </div>
          </div>
        </div>
        <div class="box box-white">
          <div class="row">
            <div class="col-xs-12 review-title text-dark-gray">
              "Môi trường làm việc đáng thử nhất Việt Nam"
            </div>
            <div class="col-md-6 col-xs-12">
              <label class="text-dark-gray">Đánh giá chung</label>
              <div class="rating-container">
                <div class="stars">
                  <i class="fa fa-star active"></i>
                  <i class="fa fa-star active"></i>
                  <i class="fa fa-star active"></i>
                </div>
                <span style="display:none" class="obj-data" obj-id="39" data="5"></span>
                <span id="39">Tuyệt vời!</span>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="row">
                <div class="review-recommend">
                  <p><i class="fa fa-thumbs-o-up" style="color:#f05f40; margin-right: 10px; font-size: 25px"></i><strong
                    class="text-dark-gray">Sẵn sàng giới thiệu cho bạn bè</strong></p>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="review-text">
                <blockquote>Văn phòng thiết kế đẹp, mở. Nhân viên được tự do bày tỏ ý kiến với leader. Teamwork tốt. Đc
                  tiếp xúc với nhiều người giỏi, thăng tiến rõ ràng.
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box box-white">
          <div class="box-company-title"><a class="text-highlight bold"
                                            href="https://www.topcv.vn/cong-ty/fpt-software/3.html">FPT Software</a>
          </div>
          <div class="box-company-content">
            <div id="review-count" class="text-dark-gray">Tổng lượt đánh giá: 1</div>
            <div id="review-box">
              <div class="row">
                <div class="col-md-4" style="float: left">
                  <div class="radial-progress" data-score="3">
                    <div class="circle">
                      <div class="mask full">
                        <div class="fill"></div>
                      </div>
                      <div class="mask half">
                        <div class="fill"></div>
                        <div class="fill fix"></div>
                      </div>
                      <div class="shadow"></div>
                    </div>
                    <div class="inset">
                      <div class="percentage">
                        <div class=""><span>10%</span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="review-overall-text text-dark-gray">Sẵn sàng giới thiệu cho bạn bè</div>
                </div>
              </div>
              <div class="row rating">
                <div class="col-xs-9">
                  <label class="text-dark-gray">Đánh giá chung</label>
                  <div style="margin-top: 5px;">
<span class="star-bar">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<span style="width:100%" class="active-star">
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
</span>
</span>
                  </div>
                </div>
                <div class="col-xs-3">
                  <span class="overall-rate">5.0</span>
                </div>
              </div>
              <br>
              <div class="row rating rating-small">
                <div class="col-xs-9">
                  <label class="text-dark-gray">Cơ hội thăng tiến</label>
                  <div style="margin-top: 5px;">
<span class="star-bar">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<span style="width:100%" class="active-star">
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
</span>
</span>
                  </div>
                </div>
                <div class="col-xs-3">
                  <span class="score-rate">5.0</span>
                </div>
              </div>
              <div class="row rating rating-small">
                <div class="col-xs-9">
                  <label class="text-dark-gray">Văn phòng, công cụ làm việc</label>
                  <div style="margin-top: 5px;">
<span class="star-bar">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<span style="width:100%" class="active-star">
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
</span>
</span>
                  </div>
                </div>
                <div class="col-xs-3">
                  <span class="score-rate">5.0</span>
                </div>
              </div>
              <div class="row rating rating-small">
                <div class="col-xs-9">
                  <label for="" class="text-dark-gray">Chế độ lương, thưởng</label>
                  <div style="margin-top: 5px;">
<span class="star-bar">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<span style="width:80%" class="active-star">
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
</span>
</span>
                  </div>
                </div>
                <div class="col-xs-3">
                  <span class="score-rate">4.0</span>
                </div>
              </div>
              <div class="row rating rating-small">
                <div class="col-xs-9">
                  <label class="text-dark-gray">Văn hóa công ty</label>
                  <div style="margin-top: 5px;">
<span class="star-bar">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<span style="width:100%" class="active-star">
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
</span>
</span>
                  </div>
                </div>
                <div class="col-xs-3">
                  <span class="score-rate">5.0</span>
                </div>
              </div>
              <div class="row rating rating-small">
                <div class="col-xs-9">
                  <label class="text-dark-gray">Đào tạo, học hỏi, trao đổi</label>
                  <div style="margin-top: 5px;">
<span class="star-bar">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<span style="width:100%" class="active-star">
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
<i class="fa fa-star active"></i>
</span>
</span>
                  </div>
                </div>
                <div class="col-xs-3">
                  <span class="score-rate">5.0</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
