<section id="hero">
  <div class="container">
    <div id="no-cv">
      <h2>Bạn đang băn khoăn về ngành và trường học?</h2>
      <p class="hidden-xs">Hãy đến với trắc nghiệm tính cách MBTI để xác định ngành học</p>
      <a routerLink="/mbti-test" class="btn-cta"><i class="fa fa-pencil" aria-hidden="true"></i> <span>Trắc nghiệm MBTI</span></a>
    </div>
    <div id="have-cv">
      <h2>Bạn đã quyết định học trường nào chưa?</h2>
      <p class="hidden-xs">Tìm kiếm trường học phù hợp với trình độ đào tạo chất lượng cao tại trang web của chúng tôi</p>
      <a href="https://www.topcv.vn/viec-lam" class="btn-cta"><i class="fa fa-search" aria-hidden="true"></i> <span>Tìm Trường Ngay</span></a>
    </div>
  </div>
</section>
