<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <img src="https://campeonatospolicialesacoruna.files.wordpress.com/2016/02/coca.png?w=156&h=156&crop=1" alt="">
      </div>
      <div class="col-lg-9">
        <nav id="top-nav">
          <ul>
            <li class="active"><a href="" title="">Home</a></li>
            <li><a href="" title="">Điểm Sàn</a></li>
            <li><a href="" title="">Hỗ trợ</a></li>
            <li><a href="" title="">Login</a></li>
            <li><a href="" title="">VN/EN</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
