<div *ngIf="listReview">
  <table class="table" id="myTable">
    <thead>
    <tr>
      <th style="width: 1%">STT</th>
      <th style="width: 20%">Tiêu đề</th>
      <th style="width: 20%"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listReview | paginate: { itemsPerPage:10, currentPage: p }; let i = index">
      <td>{{i+1}}</td>
      <td>
        <a>{{item.title}}</a>
      </td>
      <td>
        <a (click)="viewDetail(item.id)" data-toggle="modal" data-target="#reviewDetail" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Xem </a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-center"><pagination-controls (pageChange)="p =$event"></pagination-controls></div>
</div>
<div *ngIf="!listReview">
  Hiện không có đánh giá nào đang chờ duyệt
</div>


<div class="modal fade" id="reviewDetail" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
