<div id="main">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="box box-white">
          <div class="row">
            <div class="box-title text-highlight" style="text-align: center">Thay đổi thông tin tài khoản</div>
          </div>
        </div>
        <div class="box-group">
          <div class="box-group-body">
            <div  class="box box-white clearfix">
              <form  id="form-user-detail"  class="ng-untouched ng-pristine ng-valid">
                <div  class="form-group">
                  <label  class="col-sm-4 control-label text-dark-gray" style="text-align:center; margin-top: 10px">Tên
                    Người Dùng</label>
                  <div class="col-sm-6" style="margin-bottom: 5px">
                    <input  class="form-control" name="name" type="text" >

                  </div>
                </div>
                <div  class="form-group">
                  <label  class="col-sm-4 control-label text-dark-gray" style="text-align:center; margin-top: 30px">Địa
                    Chỉ Email</label>
                  <div  class="col-sm-6" style="margin-top: 18px">
                    <input  class="form-control" name="email" type="email">

                  </div>
                </div>

                <div  class="form-group">
                  <label class="col-sm-4 control-label text-dark-gray" style="text-align:center; margin-top: 30px">Mật
                    khẩu mới</label>
                  <div  class="col-sm-6" style="margin-top: 20px">
                    <input   class="form-control" name="newPassword" type="password">

                  </div>
                </div>
                <div  class="form-group">
                  <label  class="col-sm-4 control-label text-dark-gray" style="text-align:center; margin-top: 30px">Nhập
                    lại mật khẩu mới</label>
                  <div  class="col-sm-6" style="margin-top: 20px">
                    <input  class="form-control" name="passwordConfirm" type="password" required>

                  </div>
                </div>
                <div  class="form-group">
                  <div class="col-sm-offset-4 col-sm-8" style="margin-top: 20px">
                    <button  class="btn btn-primary" type="submit">Lưu</button>

                    <button  class="btn" href="#" type="button">Hủy</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--slide bên phải-->
      <div class="col-sm-4" id="sidebar">
        <div class="box box-white text-center-sm">
          <div class="row">
            <div class="col-md-4">
              <div class="profile-avatar">
                <img src="https://graph.facebook.com/1008420279290891/picture?type=large" alt="">
              </div>
            </div>
            <div class="col-md-8" style="margin-top: 15px">
              <div>Chào bạn trở lại,</div>
              <h4 class="profile-fullname">
                Minh Nguyễn
              </h4>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-8">
              <p>Tên: Nguyễn Lê Minh</p>
            </div>
            <div class="col-md-8">
              <p>Email: nlminh226@gmail.com</p>
            </div>
            <div class="col-md-6">
              <p>Ngày sinh: 22/6/1995</p>
            </div>
          </div>
          <hr>

        </div>

      </div>
    </div>
  </div>
</div>
