<div id="main">
  <div class="container" style="max-width: 800px;">
    <div class="box box-white">
      <div id="question-header" class="bold">
        <h1 itemprop="name">
          {{question?.title}}
        </h1>
        <div class="aside-cta" role="navigation" aria-label="ask new question">
          <a [routerLink]="['/new-question']" class="btn btn-uni-primary">Đặt câu hỏi</a>
        </div>
      </div>
      <div style="padding: 0px 30px 30px 30px;">
        <div class="post-text">
          {{question?.content}}
        </div>
        <div class="started">
          <span class="">{{question?.createdDateTime | date:'dd-MM-yyyy HH:mm'}}</span>
        </div>
        <div class="row" style="float: right;padding-right: 50px;">
          <img style="width: 100%;max-width: 30px;border-radius: 50%;margin-right: 5px;" [src]="question?.users.image"/>
          <span class="">{{question?.users.username}}</span>
        </div>
      </div>
      <div id="answers">
        <div id="answers-header">
          <div class="subheader answers-subheader">
            <h2>1 Câu trả lời</h2>
          </div>
        </div>
        <div class="answer">
          <table>
            <tbody><tr>
              <td class="votecell">
                <div class="vote">
                  <div class="fa fa-thumbs-o-up"></div>
                  <span class="vote-count-post ">0</span>
                </div>
              </td>
              <td class="answercell">
                <div class="post-text">
                  So, How can I create a method in a service that returns the result of onSnapshot and then using it in my Component or Ionic Page?
                  Documentation

                  https://firebase.google.com/docs/reference/js/firebase.firestore.Query?hl=es-419

                  https://firebase.google.com/docs/firestore/query-data/listen?hl=es-419
                </div>
              </td>
            </tr>
            </tbody></table>
        </div>
        <div class="answer">
          <table>
            <tbody><tr>
              <td class="votecell">
                <div class="vote">
                  <div class="fa fa-thumbs-o-up"></div>
                  <span class="vote-count-post ">0</span>
                </div>
              </td>
              <td class="answercell">
                <div class="post-text">
                  So, How can I create a method in a service that returns the result of onSnapshot and then using it in my Component or Ionic Page?
                  Documentation

                  https://firebase.google.com/docs/reference/js/firebase.firestore.Query?hl=es-419

                  https://firebase.google.com/docs/firestore/query-data/listen?hl=es-419
                </div>
              </td>
            </tr>
            </tbody></table>
        </div>
      </div>

      <div>
        <div>
          <h2>Câu trả lời của bạn </h2>
        </div>
        <textarea id="summnernote"></textarea>
        <div>
          <button class="btn btn-primary">Đăng câu trả lời</button>
        </div>
      </div>
    </div>
  </div>
</div>
