<footer>
  <div class="container">
    <div class="row">
    <div class="col-lg-4" id="sugestion">
      <h2>Suggestions for Exponet </h2>
      <p>Công cụ tìm kiếm thông tin
      Xác định nguyện vọng <br>
      Giúp bạn tìm kím nghành học <br>
      Trường học và các thông tin liên quan</p>
    </div>

    <div class="col-lg-4" id="last-blog">
      <h2>Contact Information To</h2>
      <ul>
        <li><a href="">DanhLTSE61111@gmail.com</a></li>
        <li><a href="">DanhLTSE61111@gmail.com</a></li>
        <li><a href="">DanhLTSE61111@gmail.com</a></li>
        <li><a href="">DanhLTSE61111@gmail.com</a></li>
      </ul>
    </div>
      <div class="col-lg-4" id="recent-work">
        <h2>Most Rescent Work</h2>
        <ul class="row">
          <li class="col-lg-4">
          <img src="http://www.clker.com/cliparts/5/M/p/L/f/u/atom-with-colour-th.png" alt="" class="img-responsive">
        </li>
          <li class="col-lg-4">
            <img src="http://www.clker.com/cliparts/5/M/p/L/f/u/atom-with-colour-th.png" alt="" class="img-responsive">
          </li>
          <li class="col-lg-4">
            <img src="http://www.clker.com/cliparts/5/M/p/L/f/u/atom-with-colour-th.png" alt="" class="img-responsive">
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="nav-wrapper">
    <div class="container">
      <nav id="footer-nav">
        <div>
          <div style="font-size: 20px">Liên hệ để đăng tin tuyển dụng tại Hồ Chí Minh: (+84) 977 460 519 - Hà Nội: (+84) 964 618 859 - Email: love@itviec.com</div>
        </div>
      </nav>
    </div>
  </div>
</footer>
